/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

.h1-style{
margin-top: 50px;
}

.bt-count{
    float:left
}
.bt-margin{
    margin-left: 10px;
    }

.tb-col{
    color: white;
    text-align: left;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}


.mrg-button{
margin: 20px 0px;
}

.count-button {
    margin:4px;
    background-color:#6c757d;
    border-radius:6px;
    overflow:auto;
    float:left;
}

.count-button label {
    float:left;
    margin-bottom:0;
}

.count-button label span {
    text-align:center;
    padding:3px 3px;
    display:block;
    border-radius:4px;
}

.count-button label input {
    position:absolute;
    top:-20px;
}

.count-button input:hover + span {
    background-color:#5B5858;
}

.count-button input:checked + span {
    background-color:#B71313;
    color:#fff;
}

.count-button input:checked:hover + span {
    background-color:#B71313;
    color:#fff;
}