body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

a:hover {
    color: #d39e00;
    text-decoration: none;
}

h1{
margin-top: 50px;
}

.p-bt-count{
    float:left
}

.bt-count{
    margin-left: 10px;
    }

.tb-col{
    color: white;
    text-align: left;
}

.mrg-button{
    margin: 20px 0px;
}

.count-button {
    margin:4px;
    background-color:#6c757d;
    border-radius:6px;
    overflow:auto;
    float:left;
}

.count-button label {
    float:left;
    margin-bottom:0;
}

.count-button label span {
    text-align:center;
    padding:3px 3px;
    display:block;
    border-radius:4px;
}

.count-button label input {
    position:absolute;
    top:-20px;
}

.count-button input:hover + span {
    background-color:#5B5858;
}

.count-button input:checked + span {
    background-color:#B71313;
    color:#fff;
}

.count-button input:checked:hover + span {
    background-color:#B71313;
    color:#fff;
}